# This file is a template, and might need editing before it works on your project.
# docker image.
image: registry.gitlab.com/latex-template/docker

build:
  stage: build
  script:
    - latexmk -synctex=1 -interaction=nonstopmode -file-line-error -pdf document
  artifacts:
    paths:
    - document.pdf
    - document.log
    - document.synctex.gz
    expire_in: 1 week