# This file is a template, and might need editing before it works on your project.
# Official docker image.
image: tianon/latex:latest

stages:
  - build
  - cleanup
build:
  stage: build
  script:
    - latexmk -synctex=1 -interaction=nonstopmode -file-line-error -pdf document
  artifacts:
    paths:
    - document.pdf
    - document.log
    - document.synctex.gz
    expire_in: 1 week